body{
    background-color: rgb(135, 135, 135);
}

h1{
    color:antiquewhite;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;

    
}

hr{
    height: 3px;
    background-color:antiquewhite;
    border: 3px;
    border-color: black;
}

p{
    color: rgb(0, 0, 0);
    line-height: 200%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

name-text{
    color:rgb(187, 0, 0);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}