html{
background-color:antiquewhite;
font-size: 18px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-align: center;
color: rgb(59, 101, 57);

}

img{
    width: 200px;
    height: 200px;

}